#axis:hover .move-left {
    transform: translate(-8px,0px);
    -webkit-transform: translate(-8px,0px); /** Chrome & Safari **/
    -o-transform: translate(-8px,0px); /** Opera **/
    -moz-transform: translate(-8px,0px); /** Firefox **/
}

#axis:hover .move-right-up{
    transform: translate(8px,8px);
    -webkit-transform: translate(8px,8px); /** Chrome & Safari **/
    -o-transform: translate(8px,8px); /** Opera **/
    -moz-transform: translate(8px,8px); /** Firefox **/
}

#axis:hover .move-up{
    transform: translate(0px,-8px);
    -webkit-transform: translate(0px,-8px); /** Chrome & Safari **/
    -o-transform: translate(0px,-8px); /** Opera **/
    -moz-transform: translate(0px,-8px); /** Firefox **/
}

#axis:hover .move-down{
    transform: translate(0px,8px);
    -webkit-transform: translate(0px,8px); /** Chrome & Safari **/
    -o-transform: translate(0px,8px); /** Opera **/
    -moz-transform: translate(0px,8px); /** Firefox **/
}

.arrow span{
    display: table;
    position: absolute;
    opacity:0.0;
    filter:alpha(opacity=0);
}

.arrow:hover span{ /*CSS for enlarged image on hover*/
    opacity:1.0;
    filter:alpha(opacity=100);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    /*position where
    enlarged image should offset horizontally */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.demo-box {
    display:block;
    text-align:center;
}

.description {
    font-family: MrEavesSanReg;
    font-size: 95%;
    padding-left:10%;
}

.description-title {
    font-family: MrEavesSanBold;
}

.inner {
    transition: transform 3s linear;
}

.overlay:hover {
    opacity:0.5;
}

.project {
    width:30%;
    vertical-align:top;
    text-align:right;
    padding-top:40px;
    padding-bottom:30px;
    position:fixed;
}

.wrap {
    width: 100px;
    height: 100px;
    transition: transform 1s linear;
}

.wrapper .text {
    position:relative;
    left:0px;
    visibility:hidden;
}

.wrapper:hover .text {
    visibility:visible;
    font-family:MrEavesSanBoldItalic;
    font-size:300%;
}

.wrap:hover {
    transform: scale(1.5);
}

.wrap:hover .inner {
    transform: rotate(45deg);
}

.object {
    position: absolute;
    margin: 2px;
    /*transition: all 2s ease-in-out;*/
    transition: transform .25s linear;
    -webkit-transition: transform .25s linear; /** Chrome & Safari **/
    -moz-transition: transform .25s linear; /** Firefox **/
    -o-transition: transform .25s linear; /** Opera **/
}

.letterL {
    left: 45%;
}

.letterE {
    left: 46%;
}

.letterX {
    left: 47%;
}

.letterI {
    left: 48%;
}

.letterE2 {
    left: 49%;
}

.letterC {
    left: 51%;
}

.letterR {
    left: 53%;
}

.letterA {
    left: 54%;
}

.letterI2 {
    left: 55%;
}

.letterG {
    left: 56%;
}
#floating_image {
    position: fixed;
    bottom: 30px;
    left: 1%;
    z-index: 10;
}

.demo-area {
      vertical-align: middle;
      text-align: center;
}

.demo-img {
    width:680px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#footer {
    margin:0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
    width:25%;
    }

#footer_container {
    font-family: MrEavesSanReg;
    line-height:2em;
    text-align:left;
    height: 230px;
    background-color: #262626;
    width:100%;
    position: relative;
    color: white;
    }

#header {
	width:100%;
	padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

 #header_logo {
    text-align: center;
    font-size: 200%;
    font-family: MrEavesSanReg;
 }

 #imgToChange {
    cursor: pointer;
    cursor: hand;
 }

#navbar {
    height:5px;
    background-color:#928d88;
    border:none;
    width:54.35%;
    margin:0;
}

#navigation {
   font-size: 90%;
   font-family: MrEavesSanReg;
}

#navigation th{
    width:33%;
    vertical-align:bottom;
}

#navigation a{
    padding-bottom:3px;
}

a {
    color:inherit;
    padding: 0px;
    text-decoration: none;
    display:inline-block;
}

body {
    color: #928d88;
    background: #fbf9f9;
    font-family: MrEavesSanReg;
    margin:0;
    padding:0;
}

@font-face {
    font-family: MrEavesSanReg;
    src: url("MrEavesSanOT-Reg.otf") format("opentype");
}

@font-face {
    font-family: MrEavesSanBold;
    src: url("MrEavesSanOT-Bold.otf") format("opentype");
}

@font-face {
    font-family: MrEavesSanBoldItalic;
    src: url("MrEavesSanOT-BoldItalic.otf") format("opentype");
}

.table1 {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:30px;
  }

table{
	width: 100%;
}