/* Reset body padding and margins */
body {

	font-family: "Arial";
	background: #fbf9f9;
    margin:0;
	padding:0;
  	background-attachment: fixed;
  	background-position: top;

	}

@font-face {
    font-family: MrEavesSanReg;
    src: url("MrEavesSanOT-Reg.otf") format("opentype");
    }

@font-face {
    font-family: MrEavesSanBold;
    src: url("MrEavesSanOT-Heavy.otf") format("opentype");
    }

/* Make Footer Sticky */
#footer {
    margin:0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
    width:25%;
    }

#footer_container {
    font-family: MrEavesSanReg;
    line-height:2em;
    text-align:left;
    height: 230px;
    background-color: #262626;
    width:100%;
    position: relative;
    color: white;
    }

#header {
	width:100%;
	height: 80px;
    text-align: center;
	}

 #header_logo {
    text-align: center;
    padding-bottom: 20px;
    font-size: 250%;
    font-family: MrEavesSanReg;
 }

#navigation {
   padding-bottom: 20px;
   font-size: 150%;
   font-family: MrEavesSanBold;
}

table#table1 {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 40px;
  }


a{
    color:inherit;
	padding: 0px;
	text-decoration: none;
	display:inline-block;
}

table{
	width: 100%;
}

#floating_image {
    position: fixed;
    padding-top: 300px;
    z-index: 10;
}