#axis:hover .move-left {
    transform: translate(-8px,0px);
    -webkit-transform: translate(-8px,0px); /** Chrome & Safari **/
    -o-transform: translate(-8px,0px); /** Opera **/
    -moz-transform: translate(-8px,0px); /** Firefox **/
}

#axis:hover .move-right-up{
    transform: translate(8px,8px);
    -webkit-transform: translate(8px,8px); /** Chrome & Safari **/
    -o-transform: translate(8px,8px); /** Opera **/
    -moz-transform: translate(8px,8px); /** Firefox **/
}

#axis:hover .move-up{
    transform: translate(0px,-8px);
    -webkit-transform: translate(0px,-8px); /** Chrome & Safari **/
    -o-transform: translate(0px,-8px); /** Opera **/
    -moz-transform: translate(0px,-8px); /** Firefox **/
}

#axis:hover .move-down{
    transform: translate(0px,8px);
    -webkit-transform: translate(0px,8px); /** Chrome & Safari **/
    -o-transform: translate(0px,8px); /** Opera **/
    -moz-transform: translate(0px,8px); /** Firefox **/
}

.wrap {
    width: 100px;
    height: 100px;
    transition: transform 1s linear;
}
.inner {
    transition: transform 3s linear;
}
.wrap:hover {
    transform: scale(1.5);
}
.wrap:hover .inner {
    transform: rotate(45deg);
}

.object {
    position: absolute;
    margin: 2px;
    /*transition: all 2s ease-in-out;*/
    transition: transform .25s linear;
    -webkit-transition: transform .25s linear; /** Chrome & Safari **/
    -moz-transition: transform .25s linear; /** Firefox **/
    -o-transition: transform .25s linear; /** Opera **/
}

.letterL {
    left: 45%;
}

.letterE {
    left: 46%;
}

.letterX {
    left: 47%;
}

.letterI {
    left: 48%;
}

.letterE2 {
    left: 49%;
}

.letterC {
    left: 51%;
}

.letterR {
    left: 53%;
}

.letterA {
    left: 54%;
}

.letterI2 {
    left: 55%;
}

.letterG {
    left: 56%;
}
#floating_image {
    position: fixed;
    padding-top: 300px;
    z-index: 10;
}

#footer {
    margin:0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
    width:25%;
    }

#footer_container {
    font-family: MrEavesSanReg;
    line-height:2em;
    text-align:left;
    height: 230px;
    background-color: #262626;
    width:100%;
    position: relative;
    color: white;
    }

#header {
	width:100%;
	padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
	}

 #header_logo {
    text-align: center;
    padding-bottom: 50px;
    font-size: 200%;
    font-family: MrEavesSanReg;
 }

#navigation {
   padding-bottom: 20px;
   font-size: 80%;
   font-family: MrEavesSanReg;
}

a {
    color:inherit;
    padding: 0px;
    text-decoration: none;
    display:inline-block;
}

body {
    font-family: "Arial";
    background: #fbf9f9;
    margin:0;
    padding:0;
    background-attachment: fixed;
    background-position: top;
}

@font-face {
    font-family: MrEavesSanReg;
    src: url("MrEavesSanOT-Reg.otf") format("opentype");
}

@font-face {
    font-family: MrEavesSanBold;
    src: url("MrEavesSanOT-Heavy.otf") format("opentype");
}

table#table1 {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 40px;
  }

table{
	width: 100%;
}